@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply bg-Main-Background font-one bg-[url('./assets/images/bg-pattern.svg')] bg-no-repeat;
  }
}

@theme {
  --font-one: Manrope;
  /* neutral colors */
  --color-Main-Background: hsl(230, 100%, 99%);
  --color-Empty-Slider-Bar: hsl(224, 65%, 95%);
  --color-Toggle-Background: hsl(223, 50%, 87%);
  --color-Text: hsl(225, 20%, 60%);
  --color-CTA-Background: hsl(227, 35%, 25%);
  /* primary colors */
  --color-Full-Slider-Bar: hsl(174, 77%, 80%);
  --color-Slider-Backround: hsl(174, 86%, 45%);
  --color-Discount-Background: hsl(14, 92%, 95%);
  --color-Discount-Text: hsl(15, 100%, 70%);
  --color-CTA-Text: hsl(226, 100%, 87%);
}

/* styles.css */

/* For Webkit browsers (Chrome, Safari) */
#steps-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: hsl(174, 86%, 45%); /* Change the background color */
  cursor: pointer;
  /* Add an image */
  background-image: url("./assets//images/icon-slider.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 20px 60px hsl(174, 86%, 45%);
  cursor: grab;
}
